#title{
  background-color: #ff4c68;
  color: #fff;
}


#intro{
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  color: white;
}

#title{
  padding: 3% 15%;
  position: relative;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
}
.row{
  padding-top: 50px;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 15px;
}
.btn-download{
  margin: 10px 5px 10px 5px;
}
.title-img{
  width: 60%;
  transform: rotate(25deg);
  position: relative;
  top: 100px;
  left: 70px;
}
#features{
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 75px;
  padding-right: 75px;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.col-lg-4{
  text-align: center;
}
.fas{
  color: #ef8172;
  padding-bottom: 17px;
}
.fas:hover{
  color: #ff4c68;
}
.size{
  font-size: 1.5rem;
  font-family: 'Ubuntu', sans-serif;
}
.para-color{
  color: #8f8f8f;
}
.col-lg-4{
  padding: 8px 10px;
}
#testimonials{

  text-align: center;
  color: #fff;
  background-color: #ef8172;
}
h2{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  line-height: 1.5rem;
  margin-bottom: 50px;
}
.h2-size{
  margin-bottom: 20px;
  font-size: 40px;
}
.testimonials-img{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-right: 10px;
}
#press{
  background-color: #ef8172;
  padding-bottom: 50px;
  text-align: center;
  line-height: 2;
}
.press-img{
  width: 200px;
  padding: 0 10px 0 10px;
}
.carousel-item{
  padding: 5% 23%;
}
#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-column{
  padding: 3% 2%;
}
@media (max-width: 1028px){
  .title-img{
    position: static;
    transform: rotate(0);
  }
  #title{
    text-align: center;
  }
}
#cta{
  background-color: #ff4c68;
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  text-align: center;
  font-weight: bolder;
  padding: 50px 0 70px;
 }
.footer-heading{
  padding-left: 400px;
  padding-right: 400px;
  padding-bottom: 40px;
  font-size: 40px;
 }
.footer-button{
  margin: 0 10px;
}
#footer{
  text-align: center;
  padding-top: 80px;
  background-color: #fff;
  padding-bottom: 20px;
}
.footer-img-padding{
  padding: 0 4px;
  padding-bottom: 20px;
  font-weight: lighter;
}
